/* Variables */
:root {
  --primary: #ffc636;
  --secondary: #0a0b5b;
}
/* reset */
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
li {
  list-style-type: none;
  /* A list-style-type of none will remove the bullet point. */
}

/* basic styles */
body {
  background: var(--secondary);
  overflow-x: hidden;
  font-family: "Rubik", sans-serif;
  /* overflow x hidden will hide the horizontal scrollbar. */
}

.button {
  background: none;
  border: 2px solid var(--primary);
  color: var(--primary);
  padding: 6px 12px;
  border-radius: 20px;
  text-transform: uppercase;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
  display: inline-block;
  /* The reason why i put the display to inline-block is because i want the button to be inline with the text. */
}

.button:hover {
  background: var(--primary);
  color: #222;
  transition: 0.3s ease-in-out;
}

input,
textarea {
  background: rgba(255, 255, 255, 0.05);
  padding: 10px 16px;
  border-radius: 20px;
  border: 2px solid #9893db;
  color: #f2f2f2;
}

h1,
h2,
h3,
h4 {
  color: #ddd8ff;
  font-weight: normal;
}

p,
a,
li {
  color: #9893db;
}

h1,
h3 {
  font-size: 1.2em;
}

h2 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.1em;
}

.leading {
  font-size: 1.1em;
}

/* mobile styles */

/* small tablet styles */
@media screen and (min-width: 620px) {
}

/* Large tablet and laptop styles */
@media screen and (min-width: 960px) {
}

/* desktop styles */
@media screen and (min-width: 1200px) {
}
